%h3 Articles
%ol.content.articles
  - for article in @articles
    %li.article
      %span.title= link_to(article.title, article)
      %span.summary= article.summary
      %span.meta
        %span.date= "Published #{article.published_at.to_formatted_s(:short)}"