.main

  %h2 Articles
  
  %ol.content.articles
    - for article in @articles
      %li.article

        %h3= link_to(article.title, article)
        
        %span.summary
          = article.summary

        .meta
          %span.date 
            Published
            = article.published_at.stamp("March 8, 2004")