// Colors
$background_color: #EEEAE1
$box_color: rgba(#000, 0.05)
$text_color: rgba(#000, 0.8)
$foreground_color: rgba(#000, 1)
$fun_color: #0869B2
$link_color: $fun_color

// Night
$night_background_color: rgba(#000, 0.9)
$night_text_color: rgba(#FFF, 0.6)
$night_foreground_color: rgba(#FFF, 1)
$night_fun_color: #CC0000
$night_link_color: rgba(#FFF, 0.8)

// Config
$content_width: 600px
$moon_size: 30px